
:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: white;
}

a {
  color: inherit;
  text-decoration: none;
  color: #0d0d0d99;
}
p {
  color: rgb(0, 0, 0) !important;
}
li a{
  color: black !important;
  font-family: Exo !important;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;

}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
ul.menu {
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    grid-column-gap: 2.5rem;
}

.css-1thetql {
  display: flex;
  justify-content: space-between;
  height: 4.75rem;
  border-bottom: 2px solid #0d0d0d;
  position: sticky;
    top: 0;
}

li a:active{
  color: tomato;
}
h1 {
  color:black !important;
  font-family: Exo;
  font-weight: 700;
  font-size: 68px;
  line-height: 77px;
}
ul {
 list-style-type: none;
}
/*hero section css*/
.css-14jtlw7 {
  padding-left: 5%;
}
.heroleft {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
}

p.showcase {
  width: 509px;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}
.heroimage {
  width: 512px;
  height: 524px;
}
.heroleft {
  padding-left: 76.43px;
  background: #e4dad8;
  width: 50%;
  border-right:  solid #0d0d0d;
  border-bottom:  solid #0d0d0d;
}
.heroright {
background: #f9ddc5;
width: 50%;
border-right:  solid #0d0d0d;
border-bottom:  solid #0d0d0d;
}


.herosection {
  display: flex;
  height: 764px;
}
.herotext {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  padding-top: 4rem;
  padding-right: 6rem;
  padding-bottom: 4rem;
  grid-row-gap: 2.5rem;
}
.heroright {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.herobutton {
  font-family: Exo,sans-serif;
    color: #0d0d0d;
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    line-height: 1.5;
    padding-top: 9px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 9px;
    width: 216px;
    border: 2px solid #0d0d0d;
    border-radius: 0.75rem;
    background-color: #65cbb5;
    box-shadow: -4px 4px 0 1px #000;
}
.reviews {
  position: relative;
  width: 100%;
  max-width: 24rem;
  margin-top: -4rem;
  margin-left: auto;
  padding: 1rem 2rem;
  border: 2px solid #0d0d0d;
  border-radius: 0.75rem;
  background-color: #fff;
  box-shadow: 4px 4px 0 1px #0d0d0d;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
}
.title {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}